/* TODO - add correct font styles for everything */

.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: fit-content;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  border-style: none;
  background-color: transparent;
  opacity: 40%;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  color: #212121;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  padding: 16px 454px 16px 12px;
  border-radius: 8px;
  border-color: #2121214d;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  max-width: 156px;
  padding: 18px 32px;
  background-color: #212121;
  color: #fcf5e5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  border-radius: 8px;
}

@media screen and (max-width: 627px) {
  .modal__container {
    max-width: 300px;
    padding: 12px 12px;
  }

  .modal__close-btn {
  }

  .modal__title {
    margin: 0 0 24px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
  }

  .modal__input {
    padding: 16px 90px 16px 12px;
    font-size: 16px;
  }

  .modal__submit-btn {
    max-width: none;
  }
}
